/*

This is the default fallback style for
Hyprspace.

It follows the Atom OneDark Theme.

To change the theme on your machine
simply navigate to ~/.config/hyprspace/hypr.css
and apply your theme there. 
hypr.css will override the styles used.

One Dark                       

Black:          #1E2127
Bright Black:   #5C6370
Red:            #E06C75
Green:          #98C379
Yellow:         #D19A66
Blue:           #61AFEF
Magenta:        #C678DD
Cyan:           #56B6C2
White:          #ABB2BF
Bright White:   #FFFFFF
Text:           #ABB2BF
*/
:root {

  --black:        #1E2127;
  --bright-black: #5C6370;
  --white:        #ABB2BF;
  --bright-white: #FFFFFF;
  --text:         #ABB2BF;
  --red:          #E06C75;
  --green:        #98C379;
  --yellow:       #D19A66;
  --blue:         #61AFEF;
  --light-blue:   #61AFEF;
  --magenta:      #C678DD;
  --cyan:         #56B6C2;
}